/*
	Skimmed Milk Version 1.2
	http://thortz.com/skimmed-milk/

	Overrides style.css settings for print media
*/


/*	Printed documents do not need interactive elements such as the sidebar
	navigation links or other user interface elements */
#sidebar, .navigation, .ui {
	display: none;
	}

/*	Make up for lack of sidebar by spacing away from left margin */
#page {
	padding: 0 0 0 12%;
	}

/*	Some browsers don't continue blocks over page boundaries if they are floating.
	See Mozilla bug 104040 */
#header, #content, #footer {
	float: none;
	}

/*	Similarly many fail to decently print auto overflow elements */
.entry {
	overflow: visible;
	}

/*	pre-wrap white space is only understood by a few (eg Safari) where it forces long
	lines in these pre blocks to wrap. The main thing here is overflow not being auto. */
pre {
	white-space: pre-wrap;
	overflow: visible;
	}

/*	No need for extra space above the blog title */
#header {
	margin: 0 0 4em 0;
	}
