p code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;	
}

.all-posts ul li {
	font-size: 1.2em;
	list-style-type: none;
	padding-bottom: 0.3em;
}

.all-posts ul {
	padding: 0;
}