p code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;	
}

.all-posts tr {
    border: 1px solid black;

    font-size: 1.2em;
    padding-bottom: 0.3em;
}

.all-posts tr td:first-child {
    text-align: right;
    padding-right: 10px;
}

.screenshot {
}

figure {
    margin: 0 0 1.1em 0;
    border: 2px dotted gray;
}
figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}