<!DOCTYPE html> 
<html> 
 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
	<title>{% if page %}{{ page.title }} | {% endif %}Wilfred Hughes :: Blog</title> 
 
	<link rel="stylesheet" href="/static/min.css" type="text/css" media="all" /> 
</head> 
 
<body> 
<div id="page"> 
	<div id="header"> 
		<h1><a href="/">Wilfred Hughes::Blog</a></h1> 
		<small>high signal, low noise</small> 
 	</div>
 
	<div id="content">
		{{ content }}
	</div>
 
	<div id="sidebar">
		<ul>
			<li id="pages-2" class="widget widget_recent_entries">
				<h2 class="widgettitle">Recent Blog Posts</h2> 
				<ul>
					{% for post in site.posts limit: 5 %}
					<li class="page_item"><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul> 
			</li>
			<li id="recent-posts-2" class="widget widget_pages">
				<h2 class="widgettitle">Meta</h2> 
				<ul> 
					<li><a href="/about.html">About</a></li>
					<li><a href="/all_posts.html">All Posts</a></li>
				</ul> 
			</li>
			<li id="recent-posts-2" class="widget widget_pages">
				<h2 class="widgettitle">Feed</h2> 
				<ul> 
					<li><a type="application/rss+xml" href="/rss.xml">RSS</a></li>
				</ul> 
			</li> 
		</ul>
	</div>
 
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3370763-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 
</body>

</html>
