---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 100 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read }}
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

<script src="https://utteranc.es/client.js"
        repo="wilfred/wilfred.github.com"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{% if site.show_related_posts %}
  <h3 class="related-post-title">{{ site.text.post.related_posts }}</h3>
  {% for post in site.related_posts %}
    {% if forloop.index == 6 %}
    {% break %}
    {% endif %}

    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
